<template>
  <v-container fluid>
    <v-data-table :headers="headers" :items="items" hide-actions  class="elevation-1">
      <template slot="items" slot-scope="props">
        <td>
          <v-avatar size="40" class="grey lighten-4">
            <img :src="props.item.image" alt="avatar">
          </v-avatar>
        </td>
        <td>{{ props.item.name }}</td>
        <td>{{ props.item.description }}</td>
        <td class="justify-center layout px-0">
          <v-btn v-restricted="['ADMIN', 'TEACHER']" icon class="mx-0" @click="$refs.editDialog.open(props.item)">
            <v-icon color="teal">edit</v-icon>
          </v-btn>
          <v-btn v-restricted="['ADMIN']" icon class="mx-0" @click="delItem(props.item)">
            <v-icon color="pink">delete</v-icon>
          </v-btn>
          <v-btn icon class="mx-0" @click="delUser(props.item)">
            <v-icon color="primary">shopping_cart</v-icon>
          </v-btn>
        </td>
      </template>
    </v-data-table>
    <v-btn fixed dark fab bottom right color="pink" @click="$refs.addDialog.open()" v-restricted="['ADMIN', 'TEACHER']">
      <v-icon>add</v-icon>
    </v-btn>
    <FormDialog ref="addDialog" name="Add Item" :fields="fields" @submit="addItem"></FormDialog>
    <FormDialog ref="editDialog" name="Edit Item" :fields="fields" @submit="updItem"></FormDialog>
  </v-container>
</template>

<script>
import { FormDialog } from '../components'

export default {
  components: {FormDialog},
  name: 'Items',
  data: () => ({
    headers: [
      {text: 'Image', value: 'image', sortable: false, align: 'center', width: '88px'},
      {text: 'Name', value: 'name'},
      {text: 'Description', value: 'description', sortable: false}
    ],
    items: [],
    fields: [
      {type: 'text', name: 'name', label: 'Name', required: true, rules: [ v => !!v || 'Name is required', v => (v && v.length <= 16) || 'Name must be less than 16 characters' ]},
      {type: 'text', textarea: true, name: 'description', label: 'Description'}
    ]
  }),
  created () {
    this.init()
  },
  methods: {
    async init () {
      let res = await this.$http.get('/api/items')
      this.items = res.data
    },
    async addItem (params) {
      let res = await this.$http.post('/api/items', params)
      this.items.push(res.data)
    },
    async updItem (params) {
      let res = await this.$http.put('/api/items/' + params.id, params)
      Object.assign(this.items[this.idIndex(params.id)], res.data)
    },
    async delItem (params) {
      let res = await this.$http.delete('/api/items/' + params.id, params)
      this.items.splice(this.idIndex(res.data), 1)
    },
    idIndex (id) {
      return this.items.findIndex(x => x.id === Number(id))
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
