<template>
  <v-app>
          <v-card>
            <v-form v-model="valid">
              <v-card-title>
                Log In
              </v-card-title>
              <v-card-text>
                <v-text-field
                  v-model="user.username"
                  label="E-mail"
                  name="email"
                  :rules="[ v => !!v || 'E-mail is required', v => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'E-mail must be valid' ]"
                  required
                ></v-text-field>
                <v-text-field
                  :append-icon="pass ? 'visibility' : 'visibility_off'"
                  :append-icon-cb="visibilityCb"
                  v-model="user.password"
                  label="Password"
                  :rules="[ v => !!v || 'Password is required']"
                  :type="pass ? 'text' : 'password'"
                  name="password"
                  required
                ></v-text-field>
              </v-card-text>
              <v-card-actions>
                <v-btn
                  :disabled="!valid"
                  @click="login" 
                >Login</v-btn>
              </v-card-actions>
            </v-form>
          </v-card>
  </v-app>
</template>

<script>
export default {
  name: 'Login',
  data: () => ({
    valid: false,
    pass: false,
    user: {
      username: '',
      password: ''
    }
  }),
  methods: {
    async login() {
      let res = await this.$http.post('/auth/login', this.user)
      if (res.status == 401) this.alert = true
      if (res.status == 200) this.$router.push('/')
    },
    visibilityCb () {
      this.pass = !this.pass
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
