<template>
  <v-dialog v-model="dialog" persistent max-width="500px">
    <v-form v-model="valid" ref="form">
      <v-card>
        <v-card-title>
          <span class="headline">{{name}}</span>
        </v-card-title>
        <v-card-text>
          <template v-for="f in fields">
            <v-text-field
              v-if="f.type == 'text' || f.type == 'password'"
              v-model="data[f.name]"
              :type="f.type"
              :key="f.name"
              :name="f.name"
              :label="f.label"
              :rules="f.rules"
              :required="f.required"
              :textarea="f.textarea"
            ></v-text-field>
            <v-select
              v-else-if="f.type == 'select'"
              v-model="data[f.name]"
              :key="f.name"
              :name="f.name"
              :label="f.label"
              item-value="id"
              item-text="name"
              :items="f.items"
              :rules="f.rules"
              :required="f.required"
            ></v-select>
            <v-checkbox
              v-else-if="f.type == 'check'"
              v-model="data[f.name]"
              :key="f.name"
              :name="f.name"
              :label="f.label"
              :rules="f.rules"
              :required="f.required"
            ></v-checkbox>
          </template>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click.native="cancel()">Close</v-btn>
          <v-btn color="blue darken-1" flat @click.native="submit()" :disabled="!valid">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-form>
  </v-dialog>
</template>

<script>
export default {
  name: 'FormDialog',
  data: () => ({
    valid: false,
    dialog: false,
    data: {}
  }),
  methods: {
    submit () {
      if (this.$refs.form.validate()) {
        this.dialog = false
        this.$emit('submit', this.data)
      }
    },
    cancel () {
      this.dialog = false
    },
    open (data = {}) {
      this.$refs.form.reset()
      Object.assign(this.data, data)
      this.dialog = true
    }
  },
  props: [
    'fields',
    'name'
  ],
  events: [
    'submit'
  ]
}
</script>

<style scoped>

</style>
