<template>
  <v-toolbar app color="blue darken-3" dark :clipped-left="$vuetify.breakpoint.mdAndUp" fixed >
    <v-toolbar-title style="width: 300px" class="ml-0 pl-3">
      <v-toolbar-side-icon @click.stop="$emit('drawer')"></v-toolbar-side-icon>
      <span class="hidden-sm-and-down">Equipment</span>
    </v-toolbar-title>
    <v-text-field v-model="search" flat solo-inverted prepend-icon="search" label="Search" class="hidden-sm-and-down"></v-text-field>
    <v-spacer></v-spacer>
    <v-btn icon @click="view = view == 'list' ? 'module' : 'list'">
      <v-icon>view_{{view}}</v-icon>
    </v-btn>
    <v-btn icon>
      <v-icon>apps</v-icon>
    </v-btn>
    <v-btn icon>
      <v-icon>notifications</v-icon>
    </v-btn>
    
    <v-menu
      :close-on-content-click="false"
      offset-y
      :nudge-bottom="16"
      v-if="user"
    >
      <v-btn slot="activator" icon large>
        <v-avatar size="32px" :color="user.role == 'ADMIN' ? 'red' : 'green'">
          <img v-if="user.avatar" :src="user.avatar">
          <span class="white--text" v-else>{{user.name.match(/\b\w/g).join('') || 'N'}}</span>
        </v-avatar>
      </v-btn>
      <v-card>
        <v-list>
          <v-list-tile avatar>
            <v-list-tile-avatar :color="user.role == 'ADMIN' ? 'red' : 'green'">
              <img v-if="user.avatar" :src="user.avatar">
              <span class="white--text headline" v-else>{{user.name.match(/\b\w/g).join('') || 'N'}}</span>
            </v-list-tile-avatar>
            <v-list-tile-content>
              <v-list-tile-title>{{user.first_name}} {{user.last_name}}</v-list-tile-title>
              <v-list-tile-sub-title>{{user.email}}</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="danger" @click="logout">Logout</v-btn>
        </v-card-actions>
      </v-card>
    </v-menu>
  </v-toolbar>
</template>

<script>
export default {
  name: 'Toolbar',
  data: () => ({
    view: 'list',
    search: '',
    user: {}
  }),
  methods: {
    async logout() {
      await this.$http.get('/auth/logout')
      this.$router.push('/login')
    }
  },
  async created() {
    let res = await this.$http.get('/auth/user')
    this.user = res.data
  }
}
</script>

<style>
</style>
